# http://git-scm.com/docs/gitignore

# General wildcards
*.bin
*.apk
*.out
*.o
*.so

*.db3
*.db3-shm
*.db3-wal

*.log
log.txt

*.tmp
.tmp
tmp
temp

.DS_Store
Thumbs.db

.idea
.vscode
# General wildcards
